@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf) format(truetype);
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format(truetype);
    font-style: italic;
}